<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AuthorizedTaskHelperToolInstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>AuthorizedTaskHelperTool_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>AuthorizedTaskHelperTool_SetAnyUserPrefs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>AuthorizedTaskHelperTool_Typicapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Demo App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>SSYAuthorizedTaskmaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4845C7F60DC6D8E2003E7D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4859E5DA0FB6341C00B7CD07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48A77B4C0DB7DEB800B5F8B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845767A50ADC470900D69CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E449EC630B619E02009E190A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F1F2BD0B0DECA3003CDB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
